@font-face {
    font-family: 'BurguesRegular'; /* nama font yang akan dipakai di CSS */
    src: url('/fonts/BurguesRegular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'fontspring'; /* nama font yang akan dipakai di CSS */
    src: url('/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;
}