*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
    
}

html,body, .form-name img{
    overflow-x: hidden;
    
}

.main5-layer1{
    overflow-y: hidden;
}
@keyframes floating {
  0% { transform: translateY(0px);
    
 }
  50% { 
    transform: translateY(-15px);
    } 
  100% { 
    transform: translateY(0px);
     }
}


:root{
    --primary-font: 'BurguesRegular';
    --secondary-font: 'Fanwood Text';
}

.up-letter{
   position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    object-fit: cover;
}

.down-letter{
  position: fixed;
    z-index: 999;
    width: 100%;
   top: 0;
    object-fit: cover;
}

.scroll-text{
    position: fixed;
    z-index: 1000;
    bottom: 100px;
    left: 100px;
    font-family: var(--secondary-font); 
    font-size: 40px;
    color: #FBF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floating infinite 3s ease-in-out;
}

.scroll-text i{
    font-size: 40px;
}
nav .close{
    display: none;
}

.menu{
    display: none;
}
nav{
    display: flex;
    background-color: #321f12;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 100px; */
    z-index: 101;
    align-items: center;
    padding: 10px 50px 10px 50px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    height: 80px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #FBF5E1;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
    display: flex;
    gap: 0.5rem;
    transition: 300ms;
    position: relative;
}

nav ul li a::after{
    content: "";
    background-color: #53321C;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    border-radius: 20px;
    transition: 300ms;
    width: 0%;
}
nav ul li a:hover::after{
    background-color: #FBF5E1;
    width: 100%;
}

.bx{
    color: #FBF5E1;
    font-size: 20px;
}

nav img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.blank{
    height: 150vh;
}

.main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.arrow{
    transform: rotate(90deg);
}
.main-1 p{
    font-family: 'BurguesRegular';
    font-size: 60px;
    color: #53321C;
}



.main-1 img{
    height: 1346px;
    width: 1382px;
    animation: floating 3s infinite ease-in-out;
}



.main-2 .container-title-2{
    margin-top: 200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    align-items: center;
}

.main-2 .title-2 p{
    color: #53321C;
    font-size:50px;

}

.main-2 .container-title-2 img{
    width: 100px;
    animation: floating 3s infinite ease-in-out;
}

.container-image{
    display: grid;
    grid-template-columns: 0.5fr 0.1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
   place-items: center;
   gap: 0;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 5rem;
   margin-bottom: 10rem;
   
}

.container-image img{
    transition: 300ms !important;
}

.container-image img:hover{
    
    transform: scale(1.1) !important;
}
.img1{
    grid-column: span 2;
    width: 460px;
    width: 100%;
}

.img2{
    /* width: 270px; */
    width: 100%;
}

.img3{
    /* width: 270px; */
    width: 100%;
}

.img4{
   /* width: 318px;  */
   width: 100%;
}

.img5{
    grid-column: span 2;
    /* width: 426px; */
    width: 100%;
}

.img6{
    /* width: 318px; */
    width: 100%;
}

.main-3{
    display: flex;
    color: #A8636C;
    background-color: #FBF5E1;
    height: 100vh;
}

.welcome-text{
    width: 50%;
    background-color: #FBF5E1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items:center;
    gap: 4rem;
}

.welcome-text img {
    width: 70%;
}

.welcome-text div{
    width: 80%;
    text-align: justify;
    font-size: 25px;
    font-family: var(--secondary-font);
}


.form-name{
    width: 50%;
    display: flex;
    justify-content: center;
}

.form-name img{
    position: absolute;
    z-index: 1;
    width: 45%;
}

.form-name form{
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    margin-right: 30px;
    font-size: 20px;
    font-family: var(--secondary-font);
}

#status{

}

.form-name form input[type = "text"], input[type = "email"], #status{
    width: 500px;
    height: 50px;
    background-color: #FBF5E1;
    border: #53321C 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px;
}

.form-name form div input[type="submit"]{
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: #A8636C;
    color: #FBF5E1;
    border: #A8636C 2px solid;
    border-radius: 17px;
    font-family: var(--secondary-font);
    font-size: 20px;
    margin-top: 10px;
    transition: 200ms;  
}

.form-name form div  {
display: flex;
justify-content: end;
width: 100%;
}

.form-name form input[type = "submit"]:hover{
    background-color: #FBF5E1;
    color: #A8636C;
}

textarea{
    width: 500px;
    height: 100px;
    background-color: #FBF5E1;
    border: #53321C 2px solid;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    resize: none;
}

.main-4{
    background-color: #321F12;
    height: 110vh;
    color: #FBF5E1;
    display: flex;
    flex-direction: column;
    align-items: center;
   font-family: var(--secondary-font);
}

.main-4 h1{
    margin-top: 30px;
    font-family: var(--primary-font);
    border-bottom: #FBF5E1 2px solid;
    font-size: 90px;
}

.main-4 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.main-4 div img{
    width: 300px;
    transition: 300ms !important;
    z-index: 40;
}

.main-4 div img:hover{
    transform: scale(1.1) !important;
}

.main-4 div p{
    width: 70%;
    font-size: 25px;
}

.main-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #908E59;
    height: 100vh;
    overflow-x: hidden;
}

.main-5 .img-bg-5{
    position: absolute;
    width: 90%;
    z-index: 1;
}

.container-agenda{
    position: relative;
    z-index: 5;
    display: flex;
    gap: 1rem;
    
    font-family: var(--secondary-font);
}

.container-agenda img{
    width: 150px;
    transition: 300ms;
}

.container-agenda div:nth-of-type(3) img{
    margin-top: 40px;
    margin-bottom: 15px;
}

.container-agenda img:hover{
    transform: scale(1.2);
}

.container-agenda p{
    font-size: 20px;
}

.container-agenda h3{
    font-size: 25px;
}
.main5-layer2 h1{
    font-family: var(--primary-font);
    font-size: 50px;
}


.main5-layer1{
    margin-top: 50px;
    z-index: 3;
    position: relative;
    background-color: #FFFFFF;
    border: #321F12 7px solid;
    height: 696px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main5-layer2{
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 900px;
    height: 600px;
    z-index: 4;
    position: relative;
    background-color: #FFFFFF;
    border: #D3C996 7px solid;
    gap: 2rem;
    
}

.main-6{
    background-image: url("../img/frame-kota.png");
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-6 p:nth-of-type(1){
    color: #908E59;
    font-size: 25px;
    font-family: var(--secondary-font);
}

.main-6 a{
    text-decoration: none;
    font-family: var(--secondary-font);
    color: #321F12;
    font-size: 50px;
    transition: 300ms !important;
    border-radius: 20px;
    height: 60px;
    width: 700px;    
    text-align: center;     
}

.main-6 a:hover{
    background-color: #321F12;
    color: #FFFFFF;
    border-radius: 20px;
    height: 60px;
    width: 700px;
    transform: scale(1.1);
}
.main-6 p:nth-of-type(2){
  color: #321F12;
}
.main-7{
    height: 100vh;
    text-align: center;
    background-color: #FBF5E1;
    padding-top: 50px;
}
.main-7 h1{
    font-size: 50px;
}
.main-7 .container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #53321C; */
}
.main-7 .container-contact .contact{
    display: flex;
    gap: 1rem;
    font-family: var(--secondary-font);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/frame_contact.png");
    background-position: 40% 40%;
    background-size: 90% 110%;
    background-repeat: no-repeat;
    height: 500px;
    width: 900px;
    color: #53321C;
    font-size: 20px;
    /* background-color: #FFFFFF; */
}
.main-7 .container-contact img{
    width: 200px;
    height: 290px;
}
.main-7 .container-contact .contact div{
    display: flex;
    flex-direction: column;
}
.main-7 .container-contact .contact div a{
    text-decoration: none;
    color: #53321C;
}
@media (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .up-letter{
        /* content: url('{{ asset("img/up-hp.png") }}'); */
        width: 100vw;
        object-fit: cover;
    }
    .down-letter{
        width: 100vw;
        object-fit: cover;
        /* content: url('{{ asset("img/down-hp.png") }}'); */
    }
    .nav{
        left: -1000px;
        transition: 300ms;
        opacity: 0;
         /* display: none; */
    
    }

    .scroll-text{
        font-size: 20px;
        bottom: 30%;
        left: 40%;
    }

    .nav.buka{
        width: 70%;
        height: 100%;
        flex-direction: column;
        justify-content: left;
        gap: 3rem;
        transition: 300ms;
        display: flex;
        left: 0px;
        opacity:1;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: left;
        align-items:start;
        gap: 3rem;
        height: auto;
    }

    .main-1 img{
        width: 450px;
        height: 450px;
        cursor: pointer;
    }

    .nav .close{
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 50px;
        display: flex;
    }

    

    .menu.tertutup{
        display: none;
    }

    .menu{
        position: fixed;
        top: 30px;
        left: 30px;
        font-size: 50px;
        color: #321f12;
        background-color: #ffffff;
        box-shadow: rgba(85, 84, 84, 0.768) 5px 5px 10px;
        border-radius: 10px;
        width: 70px;
        height: 70px;
        display: flex;
        align-content: center;
        text-align: center;
        z-index: 800;
        border: rgba(85, 84, 84, 0.768) 2px solid;
    }

    .main-2 .container-title-2{
    margin-top: 200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-items: center;
}

    .main-2 .container-title-2 img{
        width: 50px;
    }

    .main-2 .container-title-2 .title-2 p:nth-of-type(1){
        font-size: 20px !important;
    }
    .main-2 .container-title-2 .title-2 p:nth-of-type(2){
        font-size: 35px !important;
    }

    .container-image{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5rem;
    margin-bottom: 10rem;
   
}

.img1{
    order: 1;
}
.img2{
    order: 2;
}
.img3{
    order:3;
}
.img4{
 order: 4;
}
.img5{
    order: 6;
}
.img6{
    order: 5;
}

.main-3{
    display: flex;
    flex-direction: column;
    color: #A8636C;
    background-color: #FBF5E1;
    height: 170vh;
    gap: 5rem;
}



.welcome-text{
    width: 100%;
    background-color: #FBF5E1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items:center;
    gap: 4rem;
}

.welcome-text img {
    width: 70%;
}

.welcome-text div{
    width: 80%;
    text-align: justify;
    font-size: 20px;
    font-family: var(--secondary-font);
}


.form-name{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.form-name img{
    /* padding-left: 30px; */
    right: -15px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 800px;
    background-position: 100% 100%;
}

.form-name form{
    position: relative;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 40px;
    font-size: 20px;
    font-family: var(--secondary-font);
}

.form-name form input[type = "text"], input[type = "email"], #status{
    width: 100%;
    height: 50px;
    background-color: #FBF5E1;
    border: #53321C 2px solid;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 10px;
}

.form-name form div input[type="submit"]{
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: #A8636C;
    color: #FBF5E1;
    border: #A8636C 2px solid;
    border-radius: 17px;
    font-family: var(--secondary-font);
    font-size: 20px;
    margin-top: 10px;
    transition: 200ms;  
}

.form-name form div  {
display: flex;
justify-content: end;
width: 100%;
}

.form-name form input[type = "submit"]:hover{
    background-color: #FBF5E1;
    color: #A8636C;
}

textarea{
    width: 100%;
    height: 217px;
    background-color: #FBF5E1;
    border: #53321C 2px solid;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    resize: none;
}

.main-4{
    background-color: #321F12;
    height: 120vh;
    color: #FBF5E1;
    display: flex;
    flex-direction: column;
    align-items: center;
   font-family: var(--secondary-font);
   gap: 5rem;
}

.main-4 h1{
    margin-top: 30px;
    font-family: var(--primary-font);
    border-bottom: #FBF5E1 2px solid;
    font-size: 50px;
}

.main-4 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    /* padding: 0 100px 0 100px; */
}

.main-4 div img{
    width: 200px;
    transition: 300ms;
    z-index: 40;
    padding: 0 10px 0 10px;
}


.main-4 div p{
    width: 100%;
    
    font-size: 20px;
    padding: 0 30px 0 30px;
}

.main-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:normal;
    color: #908E59;
    height: 120vh;
    /* background-color: #b35c23; */
}

.main-5 .img-bg-5{
    position: absolute;
    display: none;
    margin-top: -10px;
    width: 390%;
    z-index: 1;
    overflow-x: hidden;
}

.container-agenda{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--secondary-font);
}

.container-agenda div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-agenda div:nth-of-type(3) img{
margin-top: 0;}

.container-agenda img{
    width: 50px;
    transition: 300ms;
}

.container-agenda img:hover{
    transform: scale(1.2);
}

.container-agenda p{
    font-size: 20px;
    width: 200px;
}

.container-agenda h3{
    font-size: 25px;
}
.main5-layer2 h1{
    font-family: var(--primary-font);
    font-size: 30px;
}


.main5-layer1{
    margin-top: 3pxx;
    z-index: 3;
    position: relative;
    background-color: #FFFFFF;
    border: #321F12 7px solid;
    height:100% ;
    width:80% ;
    display: flex;
    align-items: normal;
    
}

.main5-layer2{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0 0 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    width:270px ;
    height:90% ;
    z-index: 4;
    position: relative;
    background-color: #FFFFFF;
    border: #D3C996 7px solid;
    gap: 2rem;
    
}

.main-6{
    height: 100vh;
}

.main-6 a{
    display: flex;
    font-size: 25px;
    height: 50px;
    width: 350px;    
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-6 a:hover{
    height: 50px;
    width: 350px;
    
}

.main-6 p:nth-of-type(2){
    font-size: 10px;
}

.main-7{
    height: 110vh;
}

.main-7 .container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: #53321C; */
}
.main-7 .container-contact .contact{
    display: flex;
    gap: 1rem;
    font-family: var(--secondary-font);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/frame_contact.png");
    background-position: 40% 40%;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    color: #53321C;
    font-size: 20px;
    /* background-color: #FFFFFF; */
}
.main-7 .container-contact img{
    width: 100px;
    height: 150px;
}
.main-7 .container-contact img:nth-of-type(1){
    display: none;
}

.contact p{
    width: 250px;
}

    
}